#container{
	width: 550px;
	background: #FAEBD7;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	border: solid black 2px;
}

h1{
	background: orange;
	width: 220px;
}




body{
	background: #d3d3d3;
}

p{
	background: #E9967A;
	width: 550px;
	height: 60px;
	align-content: center;
}




#winsandlosses{
	height: 100px;
	width: 100px;
	background: #ADFF2F;
	border: solid black 3px;
	margin-left: 2px;
}

#begin{
	background: #ADFF2F;
}




#yourScore{
	font-size: 18;
	background: #7FFFD4;
	width: 100px;
	border: solid black 2px;
}

#targetScore{
	font-size: 18;
	width: 100px;
	background: #7FFFD4;
	border: solid black 2px;
}